language: csharp
mono: latest
solution: CombatSimulatorLibrary.sln
dotnet: 5.0
before_script:
  - dotnet restore
  - dotnet tool install --global coveralls.net --version 2.0.0
  - export PATH="$PATH:/home/travis/.dotnet/tools"
script:
  - dotnet build CombatSimulatorLibrary.sln
  - dotnet test /home/travis/build/PiousVenom/CombatSimulatorLibrary/CombatSimulatorLibraryTests/CombatSimulatorLibraryTests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
after_script:
  - csmacnz.Coveralls --opencover -i /home/travis/build/PiousVenom/CombatSimulatorLibrary/CombatSimulatorLibraryTests/coverage.opencover.xml --useRelativePaths
  - bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r /home/travis/build/PiousVenom/CombatSimulatorLibrary/CombatSimulatorLibraryTests/coverage.opencover.xml
